<a href="https://colab.research.google.com/github/shazianaz47/Assignment4-/blob/main/03_if_statements.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("01_print_events")

def even_numbers():
  for i in range(40):
    print("Even Numbers: ",i*2 )


if __name__ == "__main__":
  even_numbers()

01_print_events
Even Numbers:  0
Even Numbers:  2
Even Numbers:  4
Even Numbers:  6
Even Numbers:  8
Even Numbers:  10
Even Numbers:  12
Even Numbers:  14
Even Numbers:  16
Even Numbers:  18
Even Numbers:  20
Even Numbers:  22
Even Numbers:  24
Even Numbers:  26
Even Numbers:  28
Even Numbers:  30
Even Numbers:  32
Even Numbers:  34
Even Numbers:  36
Even Numbers:  38
Even Numbers:  40
Even Numbers:  42
Even Numbers:  44
Even Numbers:  46
Even Numbers:  48
Even Numbers:  50
Even Numbers:  52
Even Numbers:  54
Even Numbers:  56
Even Numbers:  58
Even Numbers:  60
Even Numbers:  62
Even Numbers:  64
Even Numbers:  66
Even Numbers:  68
Even Numbers:  70
Even Numbers:  72
Even Numbers:  74
Even Numbers:  76
Even Numbers:  78

In [ ]:
print("02_international_voting_age")

Peturksbouipo:int= 16
Stanlau:int= 25
Mayengua:int= 48

age:int=int(input("How old are you?"))
def main():


  if age >= Peturksbouipo:
    print(f"Your age is {age}, you are eligible to vote in Peturksbouipo ")
  else:
    print(f"Your age is {age},you are  not eligible to vote in Peturksbouipo")

if age >= Stanlau:
      print(f"Your age is {age},you ar eligible to vote in Stanlau")
else:
      print(f"Your age is {age},you are  not eligible to vote in Stanlau")

if age >= Mayengua:
      print(f"Your age is {age},you are eligible to vote in Mayengua")

else:
      print(f"Your age is {age},you are  not eligible to vote in Mayengua")

if __name__ == "__main__":
  main()

02_international_voting_age
How old are you?35
Your age is 35,you ar eligible to vote in Stanlau
Your age is 35,you are  not eligible to vote in Mayengua
Your age is 35, you are eligible to vote in Peturksbouipo

In [9]:
print("03_leap_year.")

def leap_year():
  year:int=int(input("Enter a year. "))

  if year % 4 == 0:
    if year % 100 == 0:
      if year % 400 == 0:
        print(f'{year} is a leap year.')
      else:
        print(f'{year} is not a leap year')
    else:
     print(f'{year} is not a leap year')
  else:
   print(f'{year} is not a leap year')

if __name__ == "__main__":
  leap_year()

03_leap_year.
Enter a year. 420
420 is not a leap year

In [17]:
print("04_tall_enough_to_ride.")

min_height :int= 50
def main():
  user:int=int(input("How tall are you? "))
  if user >=min_height:
    print("you are tall to enough ride. ")
  else:
    print("You are not tall enough to ride May be next year")

if __name__ =="__main__":
    main()

04_tall_enough_to_ride.
How tall are you? 75
you are tall to enough ride.

In [18]:
from os import lseek
import random

print("05_random_numbers")

def main():
  for i in range(10):
     num:list[int] = random.randint(1,100)
     print(num)

if __name__ =='__main__':
  main()

05_random_numbers
43
96
66
38
100
82
87
27
36
14